.footer {
  background-color: $service-bg;
  padding: 35px 0;

  .footer__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer__right, .footer__left {

    p {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $advantages-gray;
      
      a {
        color: $red;
      }
      
    }

  }
}

@media (min-width: 425px) {
  .footer {

    .footer__right {

      p {

        a {

        }

      }

    }
  }
}